@import "navs/global.scss";
@import "navs/topbar.scss";
@import "navs/sidebar.scss";
.nav{
    border-radius: $border-radius;
}
.nav-pills {
    a{
        color: $black;
        font-size: 14px;
    }
    .nav-link.active{
        
        background-color: $secondary;
        font-weight: 500;
    }
}